@model IEnumerable<Lista10.Models.Article>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Basket";
}

<h1>Zamówienie</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Quantity
            </th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="\upload\@item.Image" alt="@item.Image" width="150" height="70" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @ViewData[item.Id.ToString()]
                </td>
                <td>
                    @ViewData["total" + item.Id.ToString()]
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Total price: @ViewData["total"]</h3>
<br />
<br />

<div class="form-group">
    <p>Imię i nazwisko: @ViewBag.Name</p>
</div>
<div class="form-group">
    <p>Ulica: @ViewBag.Street</p>
</div>
<div class="form-group">
    <p>Nr domu: @ViewBag.House</p>
</div>
<div class="form-group">
    <p>Numer mieszkania: @ViewBag.Flat</p>
</div>
<div class="form-group">
    <p>Kod pocztowy: @ViewBag.PostalCode</p>
</div>
<div class="form-group">
    <p>Miasto: @ViewBag.City</p>
</div>
<br />
<br />
<div class="form-group">
    <p>Sposób płatności: @ViewBag.Payment</p>
</div>

